#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.7s linear;
}

#chat-screen .status-bar {
  z-index: 2;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px;
  font-size: 14px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 7px;
  display: block;
}

.message__text {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px 13px;
  border-radius: 15px;
  border-top-left-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 15px;
  border-top-right-radius: 5px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__text {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 7%;
}

.reply .reply__column:last-child {
  width: 92%;
  position: relative;
}

.reply input {
  padding: 7px;
  width: 88%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 9%;
  top: 3px;
}

.reply__column:last-child > i {
  right: 16%;
  top: 7px;
  font-size: 25px;
  opacity: 0.5;
}

.reply__column button {
  padding: 0px;
  background-color: var(--yellow);
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.reply__column:first-child > i {
  position: absolute;
  left: 3.5%;
  bottom: 5px;
  opacity: 0.5;
}

.reply .reply__column:first-child,
.reply .fa-laugh-squint,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-laugh-squint,
.reply:focus-within button {
  opacity: 0;
  background-color: none;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%);
}
