.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border2);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:nth-child(2) {
  opacity: 0.5;
}
