.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.menu-header__title {
  font-size: 28px;
  font-weight: 600;
}

.menu-header__icons span {
  margin-left: 20px;
}

.menu-header__icons .dot {
  position: absolute;
  right: 14px;
  top: 38px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.menu-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
